[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sailfish-ble-rc
Exec=sailfish-ble-rc
Name=sailfish-ble-rc
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=sailfish-ble-rc
